/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* HEADER */

.main-header {
    background-color: bisque;
    padding: 12px 20px;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 2px dashed black;
    min-height: 20px;
}

.main-menu {
    display: flex;
    gap: 50px;    
}
.logo {
    border-right: 2px dashed black;
    margin-right: auto;
    padding-right: 100px;
}

.cta {
    border-left: 2px dashed black;
    margin-left: auto;
    padding-left: 100px;
}

/* SECTION 1 */

.main-section {
    background-color: blue;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;

}

.flex-item {
    background-color: pink;
    width: 400px;
    height: 200px;
    border: 2px dashed black;
}

/* SECTION 2 */

.w-md{
    background-color:dodgerblue;
    flex-basis: calc(50% * 3);
}
